.Tilt {
  position: relative;
  top: -80px;
  width: 75px;
  height: 75px;
  height: fit-content;
  margin: 1rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tilt img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
